.footer {
    text-align: center;
    font-size: 1.25rem;
    padding: 30px;
    color: white;
    background-image: url('../background.jpg');
    background-size: cover;
}

.footer a {
    color: white;
    text-decoration: none;
}
